header {
  background-color: rgba(0,0,0, 20%);
}

.header {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 28px 16px 28px 0px;
  width: 150px;
  height: auto;
}

.end {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}