@import url('../components/header.css');
@import url('../components/navbar.css');
@import url('../components/footer.css');
@import url('../components/social-icon.css');

.placeholder-img {
  background-image: url('https://picsum.photos/1000/500');
}

.library {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.episode {
  justify-self: center;
  height: 400px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .library {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .library {
    grid-template-columns: 1fr 1fr 1fr;
  }
}