@import url('../components/header.css');
@import url('../components/navbar.css');
@import url('../components/footer.css');
@import url('../components/social-icon.css');

#hero {
  height: calc(100vh - 80px)
}

#platforms {
  box-shadow: 0px 0px 12px 6px rgb(0 0 0 / 20%);
  padding: 24px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #platforms {
    padding: 48px;
  }
}

.episodes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}

.episode {
  width: 100%;
  height: 200px;
}

.custom-shape-divider-bottom-1617315285 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617315285 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  /* transform: rotateY(180deg); */
}

.custom-shape-divider-bottom-1617315285 .shape-fill {
  fill: #FFFFFF;
}

.button-image {
  padding-right: 8px;
}

.hero-button {
  border-radius: 100px;
  border-color: var(--grey-color);
  background-color: var(--grey-color);
  padding: 8px 20px;
}