@import url('../components/header.css');
@import url('../components/navbar.css');
@import url('../components/footer.css');
@import url('../components/social-icon.css');

.bg-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 23%;
  height: 50vh;
}

#sponsor-text {
  height: 500px;
}

.sponsors {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}

.product {
  min-width: 100%;
  box-shadow: 0px 0px 12px -5px black;
  border-radius: 10px;
}

.product > div {
  padding: 16px;
}

.product button {
  margin-top: auto;
}

@media only screen and (min-width: 768px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
}