* {
  box-sizing: border-box;
}

html, body, button {
  margin: 0;
  padding: 0;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

.placeholder-img {
  background-image: url('https://picsum.photos/1000/500');
}

.bg-1 {
  background-image: url('../../assets/backgrounds/headphones-80.jpg') !important;
  position: relative;
  background-position-y: 60%;
}

.bg-2 {
  background-image: url('../../assets/backgrounds/bg-2.jpg') !important;
}